<!-- Modal Template-->
<div id="newStrainModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Add Strain</h4>
	  </div>
      <div class="modal-body">
      	<ul class="nav nav-tabs">
		  <li><a data-toggle="tab" href="#database_menu">From Database</a></li>
		  <li class="active"><a data-toggle="tab" href="#newstrain_menu">New</a></li>
		</ul>
		<div class="tab-content">
			<div id="newstrain_menu" class="tab-pane fade in active tab-container" style="text-align:left;">
				<div class="col-md-12" id="new_strain_message_div"></div>
				<form role="form" id="new_strain_form" ng-submit="add_New_Strain()">
					<input type="hidden" name="species_id" ng-value="species_id">
					<div class="form-group" ng-repeat="(key, val) in metadata_fields">
						<label for="{{key}}">{{key}}</label>
						<div ng-repeat="attribute in val">
							<div ng-repeat="(k,v) in attribute">
								<input type="{{v}}" ng-if="key == 'StrainID'" class="form-control" id="{{k}}" name="{{k}}" placeholder="{{k}}">
								<input type="{{v}}" ng-if="key == 'Date'" class="form-control" id="{{k}}" name="{{k}}" placeholder="{{k}}">
								<select type="{{v}}" ng-if="key == 'Source'" class="form-control" id="source_{{k}}" name="source_{{k}}">
									<option ng-repeat="type in v">{{ type }}</option>
								</select>
								<input type="{{v}}" ng-if="key =='Owner'" class="form-control" id="{{k}}" name="{{k}}" placeholder="{{k}}" disabled>
								<input type="{{v}}" ng-if="key =='Submitter' && k =='Submitter'" class="form-control" id="{{k}}" name="{{k}}"disabled value="{{attribute.data}}"></input>
								<input type="{{v}}" ng-if="key == 'AdditionalInformation' && k == 'AdditionalInformation'" class="form-control" id="{{k}}" name="{{k}}" placeholder="{{k}}" maxlength="{{attribute.maxlength}}">
								<input type="{{v}}" ng-if="key =='Location'" class="form-control" id="{{k}}" name="{{k}}" placeholder="{{k}}" disabled>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="fileselector">Select a file:</label>
						<select name="fileselector" class="form-control" id="file_selector" form="database_file_form">
					    	<option ng-repeat="file in files">{{ file.filename }}</option>
					    </select>
					    </div>
					<button class="btn btn-primary" type="submit">Add Strain</button>
				</form>
			</div>
			<div id="database_menu" class="tab-pane fade tab-container">
				<div class="col-md-12" id="database_strain_message_div"></div>
				<form role="form" id="database_strain_form" ng-submit="add_Database_Strains()">
					<button class="btn btn-primary" type="submit">Add Selected Strains</button>
				</form>
				<table class="display nowrap" id="public_strains_table">
		            <thead>
		              <tr>
		                <th></th>
		                <th ng-repeat="header in public_strains_headers">{{ header }}</th>
		              </tr>
		            </thead>
		            <tbody style="height: 120px;overflow-y: auto;">
		              <tr ng-repeat="strain in public_strains">
		                <td></td>
		                <td ng-repeat="field in strain">{{ field }}</td>
		                </td>
		              </tr>
		            </tbody>
		          </table>
			</div>
	  </div>
	</div>
	  <div class="modal-footer">
	  	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	  </div>
	</div>

  </div>
</div>