
<div ng-controller="projectCtrl" ng-init="showProject()">
	<h2 class="sub-header">{{ project.name }} <span style="float:right;">{{ specie_name }}</span></h2>

  	<!-- Main jumbotron for project description -->
    <div class="col-md-6">
      <div class="sub_container">
        <div class="jumbotron">
            <span>{{ project.description }}</span>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="sub_container">
        <div id="jumbotron-procedures" class="jumbotron">
          <h3 class="sub-header">Procedures<button class="btn btn-md btn-default" style="float:right;" data-toggle="modal" data-target="#newPipelineModal"><i class="fa fa-plus"></i></button><button class="btn btn-md btn-primary" style="float:right;" ng-click="applyPipeline()"><i class="fa fa-arrow-circle-down">Apply</i></button></h3>

          <select class="form-control" id="pipeline_selector">
            <option ng-repeat="pipeline in pipelines">{{ pipeline.name }}</option>
          </select>
      
        </div>
      </div>
    </div>

    <div ng-include src="'static/html_components/modals/new_pipeline_modal.html'"></div>
    <div ng-include src="'static/html_components/modals/new_strain_modal.html'"></div>

    <div class="col-md-12">
      <div class="sub_container">
        <div id="jumbotron-strains" class="jumbotron">
        <h3 class="sub-header">Strains<button type="button" class="btn btn-md btn-danger" ng-click="removeStrainsFromProject()" value="" style="float:right;"><i class="fa fa-trash-o"></i></button><button class="btn btn-md btn-default" style="float:right;" data-toggle="modal" data-target="#newStrainModal"><i class="fa fa-plus"></i></button>
        </h3>
          <table class="display nowrap" id="strains_table">
            <thead>
              <tr>
                <th></th>
                <th ng-repeat="header in strains_headers">{{ header }}</th>
              </tr>
            </thead>
            <tbody style="height: 120px;overflow-y: auto;">
              <tr ng-repeat="strain in strains">
                <td></td>
                <td ng-repeat="field in strain">{{ field }}</td>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

</div>