
<div ng-controller="modifyStrainsCtrl" ng-init="showUserStrains()" style="display:none;" id="modify_strains_controller_div">



  <div class="row nomargin">
        <div class="jumbotron jumbotron-fluid global_stats_banner">

            <div class="container">
                <div class="col-md-12 rule3" style="text-align: center;">
                    <p style="font-weight: bold;">Modify strain metadata!</p>
                    <p>{ specie_name }</p>
                </div>
            </div>
        </div>
    </div>


  <div ng-include src="'static/html_components/modals/modify_strain_modal.html'"></div>
  <div ng-include src="'static/html_components/modals/modal_alert.html'"></div>



    <div style="width:100%;">
        <div class="col-md-12 banner_strains">

        <div class="col-md-12">
            <div class="col-md-6 banner-title">
                <p class="table_header">Strains</p>
            </div>
            <div class="col-md-6 banner-title" style="float: right;">
                <button id="button_modify_strain" type="button" class="btn
                btn-md btn-primary table_button" ng-click="modifyStrains()" value="" style="float:right;"><i class="fa fa-info" data-toggle="tooltip" data-placement="top" title="Modify Strain"></i></button>
            </div>
        </div>
        <div class="col-md-12">
            <div class="banner-title rule1"></div>
        </div>

        <div class="col-md-12" >
          <!--<div class="scroll_div">-->
            <table class="table table-striped table-bordered" id="modify_strains_table" width='100%'>
              <thead>
              </thead>
              <!--<tbody>
                <tr ng-repeat="strain in strains">
                  <td></td>
                  <td ng-repeat="field in strain">{{ field }}</td>
                  </td>
                </tr>
              </tbody>-->
              <tfoot>
              </tfoot>
            </table>
          <!--</div>-->
        </div>
      </div>
    </div>

</div>