<div ng-controller="overviewCtrl" ng-init="showSpeciesDrop()" >

    <div ng-include src="'static/html_components/modals/modal_alert.html'"></div>

    <div id="wrapper">

    <!-- section intro -->
    <section id="intro">
      <div class="intro-content">
        <h2>INNUENDO Platform</h2>
        <h3>
            <u>A novel cross-sectorial platform for the integration of
                genomics
            in surveillance of foodborne pathogens</u>
        </h3>

        <div id="getstartedbutton">
          <a href="#getstarted" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
    </section>
    <!-- /section intro -->

    <section id="why">
      <div class="container">
        <div class="row">
            <h2>Why?</h2>

            <div class="row">

              <div class="span12">
                <h4>
                  Multinational outbreaks of foodborne pathogens cause
                    considerable threats to European public health.
                    Implementing whole genome sequencing (WGS) in routine
                    surveillance and outbreak investigations  is becoming a
                    strategic goal for many public health  authorities all
                    over the world. With this in mind we developed the
                    initiative INNUENDO, which aims to deliver a
                    cross-sectorial framework for the integration of bacterial WGS in
                    routine surveillance and epidemiologic investigations.</h4>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>

    <section id="content">
      <div class="container">
        <div class="row">
            <h2>How?</h2>
        </div>
        <div class="row">
          <div class="span12">
            <div class="row">
              <div class="span3">
                <div class="box aligncenter">
                  <div class="icon">
                    <span class="badge badge-info badge-circled">1</span>
                    <i class="ico icon-check icon-5x"></i>
                  </div>
                  <div class="text">
                    <h4><strong>Choose a Species</strong></h4>
                    <p>
                      Choose between one of the available species to work on.
                    </p>
                  </div>
                </div>
              </div>

              <div class="span3">
                <div class="box aligncenter">
                  <div class="icon">
                    <span class="badge badge-success badge-circled">2</span>
                    <i class="ico icon-table icon-5x"></i>
                  </div>
                  <div class="text">
                    <h4><strong>Build a Project</strong></h4>
                    <p>
                      Build a Project to aggregate strains from a specific
                        event.
                    </p>
                  </div>
                </div>
              </div>
              <div class="span3">
                <div class="box aligncenter">
                  <div class="icon">
                    <span class="badge badge-warning badge-circled">3</span>
                    <i class="ico icon-double-angle-right icon-5x"></i>
                  </div>
                  <div class="text">
                    <h4><strong>Run Procedures</strong></h4>
                    <p>
                      Choose from the strain specific procedures available
                        and apply them to your strains.
                    </p>
                  </div>
                </div>
              </div>
              <div class="span3">
                <div class="box aligncenter">
                  <div class="icon">
                    <span class="badge badge-important badge-circled">4</span>
                    <i class="ico icon-desktop icon-5x"></i>
                  </div>
                  <div class="text">
                    <h4><strong>Visualize Results</strong></h4>
                    <p>
                      Visualize the results in an interactive reports
                        application.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section id="getstarted">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="row">
              <div class="span12">
                <div class="aligncenter">
                  <h2>Get Started</h2>
                  <h4>Select a Species</h4>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="span3">
                <div id="box1" class="pricing-box-plain">
                  <div class="heading">
                    <h4>{{ species_correspondence["E.coli"] }}</h4>
                  </div>
                  <div class="desc">
                    <ul style="float:left; text-align: left;">
                      <li>{{ global_statistics["E.coli"][0] }} strains</li>
                      <li>{{ global_statistics["E.coli"][1] }} projects</li>
                      <li>{{ global_statistics["E.coli"][2] }} wgMLST profiles</li>
                    </ul>
                  </div>
                  <div class="action">
                    <a href="#" class="btn btn-lg btn-default"
                       ng-click="load_species($event)" sname="E.coli"
                       sid="1">View Projects</a>
                  </div>
                </div>
              </div>

              <div class="span3">
                <div id="box2" class="pricing-box-plain">
                  <div class="heading">
                    <h4>{{ species_correspondence["Yersinia"] }}</h4>
                  </div>
                  <div class="desc">
                    <ul style="float:left; text-align: left;">
                      <li>{{ global_statistics["Yersinia"][0] }} strains</li>
                      <li>{{ global_statistics["Yersinia"][1] }} projects</li>
                      <li>{{ global_statistics["Yersinia"][2] }} wgMLST profiles</li>
                    </ul>
                  </div>
                  <div class="action">
                    <a href="#" class="btn btn-lg btn-default"
                       ng-click="load_species($event)" sname="Yersinia"
                       sid="2">View Projects</a>
                  </div>
                </div>
              </div>

              <div class="span3">
                <div id="box3" class="pricing-box-plain">
                  <div class="heading">
                    <h4>{{ species_correspondence["Salmonella"] }}</h4>
                  </div>
                  <div class="desc">
                    <ul style="float:left; text-align: left;">
                      <li>{{ global_statistics["Salmonella"][0] }} strains</li>
                      <li>{{ global_statistics["Salmonella"][1] }} projects</li>
                      <li>{{ global_statistics["Salmonella"][2] }} wgMLST profiles</li>
                    </ul>
                  </div>
                  <div class="action">
                        <a href="#" class="btn btn-lg btn-default"
                           ng-click="load_species($event)" sname="Salmonella"
                           sid="4">View Projects</a>
                  </div>
                </div>
              </div>

              <div class="span3">
                <div id="box4" class="pricing-box-plain">
                  <div class="heading">
                    <h4>{{ species_correspondence["Campylobacter"] }}</h4>
                  </div>
                  <div class="desc">
                    <ul style="float:left; text-align: left;">
                      <li>{{ global_statistics["Campylobacter"][0] }} strains</li>
                      <li>{{ global_statistics["Campylobacter"][1] }} projects</li>
                      <li>{{ global_statistics["Campylobacter"][2] }} wgMLST profiles</li>
                    </ul>
                  </div>
                  <div class="action">
                    <a href="#" class="btn btn-lg btn-default"
                       ng-click="load_species($event)" sname="Campylobacter"
                       sid="3">View Projects</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>

    <section id="disclaimer">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="row">
              <div class="span12">
                <div class="aligncenter">
                  <h3>Disclaimer</h3>
                  <blockquote>
                    The conclusions, findings, and opinions expressed in this website reflect only the view of the INNUENDO consortium members and not the official position of the European Food Safety Authority nor of the Government of the Basque Country that are not responsible for any use that may be made of the information they contain.
                  </blockquote>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="span12" style="text-align:center;">
                <h5>
                  The research from INNUENDO project has received funding
                    from <b>European Food Safety Authority (EFSA)</b>, grant
                    agreement GP/EFSA/AFSCO/2015/01/CT2 (New approaches in
                    identifying and characterizing microbial and chemical
                    hazards) and from the <b>Government of the Basque Country</b>.
                </h5>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>

    <div class="sub_container">
        <div class="row" id="colaborators_div" style="margin-left:20%;margin-right:20%;margin-top:5%;text-align:center;">
            <img src="static/img/colaborators.png" style="display: block; margin: 0 auto;" >
        </div>
        <div class="row" id="resources_div" style="margin-left:20%;margin-right:20%;margin-top:5%;text-align:center;">
            <p><b>Resources privided by:</b></p>
            <img src="static/img/INCD-small.png" style="display: block; margin: 0 auto;" >
        </div>
    </div>
    </div>
</div>