<div ng-controller="projectsCtrl">
  <div ng-include src="'static/html_components/modals/new_project_modal.html'"></div>

    <div style="margin-bottom:10px;">
      <ul class="nav nav-tabs">
        <li ng-repeat="specie in species" ng-class="{active: $index == 0}"><a data-toggle="tab" ng-click="change_project_by_specie(specie.id, specie.name)">{{ specie.name }}</a></li>
      </ul>
    </div>

    <div class="col-md-12" id="projects_message_div"></div>

    <div class="col-md-6">
      <div class="sub_container">
        <div id="jumbotron-projects" class="jumbotron">
            <h3 class="sub-header">My Projects<button type="button" class="btn btn-md btn-danger" ng-click="deleteRow()" value="" style="float:right;"><i class="fa fa-trash-o"></i></button>
            <button class="btn btn-md btn-default" style="float:right;" data-toggle="modal" data-target="#newProjectModal"><i class="fa fa-plus"></i></button><button class="btn btn-md btn-primary" style="float:right;" ng-click="loadProject('projects_table');"><i class="fa fa-upload"></i></button></h3>
          <table class="display nowrap alltables" cellspacing="0" id="projects_table">
            <thead>
              <tr ng-repeat="row in projects" ng-if="$index == 0">
                <th></th>
                <th ng-repeat="(key,val) in row" ng-if="key != 'id'">{{ key }}</th>
            </thead>
            <tbody>
              <tr ng-repeat="project in projects" ng-click="highlightProject($event, project.id)">
                <td></td>
                <td ng-repeat="(key,val) in project" ng-if="key != 'id'">{{ val }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="sub_container">
        <div id="jumbotron-otherprojects" class="jumbotron">
        <h3 class="sub-header">Other Projects<button class="btn btn-md btn-primary" style="float:right;" ng-click="loadProject('other_projects_table');"><i class="fa fa-upload"></i></button></h3>
          <table class="display nowrap" cellspacing="0" id="other_projects_table">
            <thead>
              <tr ng-repeat="row in other_projects" ng-if="$index == 0">
                <th></th>
                <th ng-repeat="(key,val) in row" ng-if="key != 'id'">{{ key }}</th>
            </thead>
            <tbody>
              <tr ng-repeat="project in other_projects" ng-click="highlightProject($event, project.id)">
                <td></td>
                <td ng-repeat="(key,val) in project" ng-if="key != 'id'">{{ val }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>