<div ng-controller="projectsCtrl" style="display:none;" id="project_controller_div">
  <div ng-include src="'static/html_components/modals/new_project_modal.html'"></div>

    <div style="margin-bottom:5px;">
      <ul class="nav nav-tabs">
        <li ng-repeat="specie in species" ng-class="{active: $index == 0}"><a data-toggle="tab" ng-click="change_project_by_specie(specie.id, specie.name)">{{ specie.name }}</a></li>
      </ul>
    </div>
    
    <div class="col-md-12" style="padding-left:1%;padding-right:1%;margin-bottom: 5px;">
      <div class="col-md-12 sub-header" style="margin-bottom:2px;">
        <h2 style="float:left;">Projects</h2>
        <div id="projects_message_div" style="font-size:10px;position:fixed;right:1%;"></div>
      </div>
      
    </div>

    <div id="projects_container" style="padding:10px;">

      <div class="col-md-6">
        <!--<div class="sub_container">-->
          <div id="jumbotron-projects" class="jumbotron">
              <h3 class="sub-header">My Projects<button type="button" class="btn btn-md btn-danger" ng-click="deleteRow()" value="" style="float:right;"><i class="fa fa-trash-o" data-toggle="tooltip" data-placement="top" title="Delete Project"></i></button>
              <button class="btn btn-md btn-default" style="float:right;" data-toggle="modal" data-target="#newProjectModal"><i class="fa fa-plus" data-toggle="tooltip" data-placement="top" title="Add Project"></i></button><button class="btn btn-md btn-primary" style="float:right;" ng-click="loadProject('projects_table');"><i class="fa fa-upload" data-toggle="tooltip" data-placement="top" title="Load Project"></i></button></h3>
            <!--<div class="scroll_div">-->
            <table class="display compact hover nowrap" cellspacing="0" id="projects_table" width='100%'>
              <thead>
                <tr>
                  <th></th>
                  <th ng-repeat="header in projects_headers">{{ header }}</th>
              </thead>
            </table>
          <!--</div>-->
          </div>
        <!--</div>-->
      </div>

      <div class="col-md-6">
        <div class="sub_container">
          <div id="jumbotron-otherprojects" class="jumbotron">
          <h3 class="sub-header">Other Projects<button class="btn btn-md btn-primary" style="float:right;" ng-click="loadProject('other_projects_table');"><i class="fa fa-upload" data-toggle="tooltip" data-placement="top" title="Load Project"></i></button></h3>
          <div class="scroll_div">
            <table class="display compact hover" cellspacing="0" id="other_projects_table" width='100%'>
              <thead>
                <tr>
                  <th></th>
                  <th ng-repeat="header in projects_headers">{{ header }}</th>
              </thead>
            </table>
          </div>
          </div>
        </div>
      </div>
    </div>
</div>