<div ng-controller="projectsCtrl" style="display:none;" id="project_controller_div">
  <div ng-include src="'static/html_components/modals/new_project_modal.html'"></div>
  <div ng-include src="'static/html_components/modals/modal_alert.html'"></div>

    <!--<div style="margin-bottom:5px;">
      <ul class="nav nav-tabs">
        <li ng-repeat="specie in species" ng-class="{active: $index == 0}"><a data-toggle="tab" ng-click="change_project_by_specie(specie.id, specie.name)">{{ specie.name }}</a></li>
      </ul>
    </div>-->

    <div class="row">
      <div class="jumbotron jumbotron-fluid">
          <div class="container">
              <h1 class="home-header">Projects</h1>
              <p class="lead">{{ species_in_use }}</p>
              <hr class="rule1">
          </div>
      </div>
    </div>

    <div id="mainBanner" class="col-md-12 banner-row" style="text-align: center">
        <div class="btn-group" data-toggle="buttons" style="width: 80%">
            <label id="btProjectSelect" class="btn btn-primary primary-bts" data-target="projectSelect"><input type="radio">My Projects</label>
            <label id="btProjectLoad" class="btn btn-primary primary-bts" data-target="projectLoad"><input type="radio">Other Projects</label>
        </div>

        <br>

        <div id="optsContainer" style="text-align: center">
            <div id="projectSelect" class="banner">
                <div class="col-md-12" >
                  <!--<div class="sub_container">-->
                    <h3 class="sub-header">My Projects<button type="button" class="btn btn-sm btn-danger" ng-click="deleteRow()" value="" style="float:right;"><i class="fa fa-trash-o" data-toggle="tooltip" data-placement="top" title="Delete Project"></i></button>
                    <button class="btn btn-sm btn-default" style="float:right;" data-toggle="modal" data-target="#newProjectModal"><i class="fa fa-plus" data-toggle="tooltip" data-placement="top" title="Add Project"></i></button><button class="btn btn-sm btn-primary" style="float:right;" ng-click="loadProject('projects_table');"><i class="fa fa-upload" data-toggle="tooltip" data-placement="top" title="Load Project"></i></button></h3>
                  <!--<div class="scroll_div">-->
                  <table class="display compact hover nowrap" cellspacing="0" id="projects_table" width='100%'>
                    <thead>
                      <tr>
                        <th></th>
                        <th ng-repeat="header in projects_headers">{{ header }}</th>
                    </thead>
                  </table>
                    <!--</div>-->
                  <!--</div>-->
                </div>
            </div>
            <div id="projectLoad" class="banner">
                <div class="col-md-12">
                    <h3 class="sub-header">Other Projects<button class="btn btn-sm btn-primary" style="float:right;" ng-click="loadProject('other_projects_table');"><i class="fa fa-upload" data-toggle="tooltip" data-placement="top" title="Load Project"></i></button></h3>
                    <div class="scroll_div">
                      <table class="display compact hover" cellspacing="0" id="other_projects_table" width='100%'>
                        <thead>
                          <tr>
                            <th></th>
                            <th ng-repeat="header in projects_headers">{{ header }}</th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="alertDiv" style="display:none;">
        </div>
    </div>



</div>