<div ng-controller="protocolsCtrl" ng-init="loadProtocols()">
  <div ng-include src="'static/html_components/modals/new_protocol_modal.html'"></div>
  <!--<div ng-include="'/static/html_components/modals/new_project_modal.html'"></div>-->
  <div style="padding-left:1%;padding-right:1%;">
  	<h3 class="sub-header">Protocols</h3>
  </div>
  <div class="col-md-6">
  	<div class="sub_container">
  		<div class="jumbotron">
  		<h3 class="sub-header">New Protocol</h3>
  		<label for ="protocol_type_selector">Protocol type</label>
		<select ng-model="selectedType" class="form-control" id="protocol_type_selector" ng-change="loadProtocolCreator(selectedType)">
			<option ng-repeat="type in protocol_types">{{type}}</option>
		</select>
		<div class="jumbotron">
	    	<form id="new_protocol_form">
	    		<div ng-repeat="(key,type) in protocol_type" class="form-group row">
	    			<label class="col-sm-3 col-form-label">{{key}}</label>
	    			<div class="col-sm-9">
		    			<select id="parameter_select" ng-if="key == 'used Parameter'" style="width:50%;">
		    				<option ng-repeat="parameter in protocol_parameters">{{parameter[0].value}}:{{parameter[1].value}}</option>
		    			</select>
		    			<button name="protocol_{{key}}" class="btn btn-md btn-default" ng-if="type[0] == 'button'" ng-click="getProtocolFields(type[2])">Add Parameter</button>
		    			<input style="width:80%;" name="protocol_{{key}}" type="text" class="form-control" ng-if="type[0] == 'input' && type[1] == 'text'">
		    			<textarea name="protocol_{{key}}" class="form-control" ng-if="type[0] == 'textarea'"></textarea>
		    			<select  name="protocol_{{key}}" class="form-control" ng-if="type[0] == 'select'" style="width:50%;">
							<option ng-repeat="option in type[1]">{{option}}</option>
						</select>
					</div>
					<label class="col-sm-3 col-form-label" ng-if="key == 'used Software'">{{key}} version</label>
					<div class="col-sm-9" ng-if="key == 'used Software'">
						<input name="protocol_{{key}}version" type="text" class="form-control" style="width:80%;" ng-if="key == 'used Software'">
					</div>
	    		</div>
	    		<div class="form-group">
	    			<div style="text-align:center;display:none;" id="create_protocol_button">
				        <button ng-click="addProtocol()" class="btn btn-default">Create protocol</button>
				    </div>
				</div>
	    	</form>
	    </div>
	  	</div>
   	</div>
  </div>

  <div class="col-md-6">
  	<div class="sub_container">
  		<div class="jumbotron">
	  		<h3 class="sub-header">Protocol Type</h3>
			<select ng-model="selectedTypeLoad" class="form-control" id="protocol_type_selector_load" ng-change="loadProtocolType(selectedTypeLoad)">
				<option ng-repeat="type in protocol_types">{{type}}</option>
			</select>
			<select ng-model="selectedProtocolLoad" class="form-control" id="protocol_selector_load" ng-change="loadProtocol(selectedProtocolLoad)">
				<option ng-repeat="protocol in protocols_of_type">{{protocol}}</option>
			</select>
			<br>
	   		<div>
	   			<span ng-repeat="(key,val) in selected_protocol"><b>{{key}}: </b>{{val}}<br></span>
	   		</div>
	  	</div>
   	</div>
  </div>
  <div class="col-md-12" id="protocols_message_div"></div>
</div>