
<div ng-controller="reportsCtrl" ng-init="showReports()" style="display:none;" id="reports_controller_div">

	<div ng-include src="'static/html_components/modals/save_report_modal.html'"></div>
	<div ng-include src="'static/html_components/modals/merged_results_modal.html'"></div>
	<div ng-include src="'static/html_components/modals/phyloviz_modal.html'"></div>


	<!--<h3 class="sub-header">Reports</h3>-->
	<!--<div style="margin-bottom:10px;">
      <ul class="nav nav-tabs">
        <li ng-repeat="specie in species" ng-class="{active: $index == 0}"><a data-toggle="tab" ng-click="change_report_by_specie(specie.id, specie.name)">{{ specie.name }}</a></li>
      </ul>
    </div>-->
    <div id="div_back_project" style="width:100%;border-bottom: 1px solid black;margin:10px;display:none;">
		<button id="button_back_project" class="btn btn-md btn-primary">Back to Project</button>
	</div>
    <div id="reports_container">
		
		<div class="col-md-12 sub-header" style="margin-bottom:2px;">
	        <h2>Reports <span style="float:right;">{{ species_in_use }}</span></h2>
	      </div>

		<ul class="nav nav-pills" style="margin-bottom: 10px;">
			<li class="active" id="act_rep"><a>Active Report</a></li>
			<li id="user_jobs"><a>Search</a></li>
			<li id="saved_rep"><a>Saved Reports</a></li>
		</ul>

		<div id="s_report_message_div" class="col-md-4" style="float:right;"></div>

		<div id="reports_area">

		<div class="row">
			<div class="col-md-12">
			  	<!-- Main jumbotron for project description -->
			    <div class="col-md-12" style="display:none;" id="user_jobs_div">
			      <div class="sub_container">
			        <div class="jumbotron">
			        	<h3 class="sub-header">Report search
			        		<button class="btn btn-sm btn-primary" style="float:right;" ng-click="showReport()"><i class="fa fa-plus" data-toggle="tooltip" data-placement="top" title="Add to active report"></i></button>
			        	</h3>
			        	<ul class="nav nav-pills" style="float:left;">
							<li class="active" id="project_search_button"><a>Search By Project</a></li>
							<li id="strainid_search_button"><a>Search By strain ID</a></li>
						</ul>
						<div id="div_search_strainid" style="display:none;">
				        	<div class="input-group col-md-6">
						        <input type="text" class="form-control" id="strain_id_search_report">
						        <div class="input-group-btn">
						          <button id="search_report_by_strain_button" class="btn btn-md btn-default" type="button">Search</button>
						        </div>
						        <!--<button class="input-group-btn" id="fromfileSubmit">Ok</button>-->
						      <!--<div id="progress_bar"><div class="percent">0%</div></div>-->
						    </div>
					   	</div>
				        <div class="form-group col-md-6" id="div_search_project" style="display:block;"> 
				        	<select class="selectpicker" id="project_selector" data-live-search="true">
					            <option ng-repeat="project_name in projects_names" name="proj_{{project_name.id}}">{{ project_name.name }}</option>
					        </select>
				        </div>

			        	<!--<div class="input-group">
			        		<label class="input-group-btn">Projects</label>
				        	<select class="selectpicker form-control" id="project_selector">
					            <option ng-repeat="project_name in projects_names" name="proj_{{project_name.id}}">{{ project_name.name }}</option>
					        </select>
					    </div>-->
			        	<!--<div class="scroll_div">-->
			        	<br>
			            <table class="display compact hover" id="reports_table" width='100%'>
				            <thead>
				              <tr>
				                <th></th>
				                <th ng-repeat="header in user_reports_table_headers">{{ header }}</th>
				              </tr>
				            </thead>
				            <!--<tbody>
				              <tr ng-repeat="report in reports">
				                <td></td>
				                <td ng-repeat="field in report">{{ field }}</td>
				              </tr>
				            </tbody>-->
				            <tfoot>
				              <tr>
				                <th></th>
				                <th ng-repeat="header in user_reports_table_headers">{{ header }}</th>
				              </tr>
				            </tfoot>
				        </table>
				    	<!--</div>-->
			        </div>
			      </div>
			    </div>

			    <div class="col-md-12" style="display:none;" id="saved_rep_div">
			      <div class="sub_container">
			        <div class="jumbotron">
			        	<h3 class="sub-header">Saved Reports
			        		<button class="btn btn-sm btn-danger" style="float:right;" ng-click="deleteCombinedReport()"><i class="fa fa-minus" data-toggle="tooltip" data-placement="top" title="Delete saved report"></i></button>
			        		<button class="btn btn-sm btn-primary" style="float:right;" ng-click="showCombinedReport()"><i class="fa fa-plus" data-toggle="tooltip" data-placement="top" title="Show on active report"></i></button>
			        	</h3>
			        	<div class="scroll_div">
			            <table class="display compact hover" id="saved_reports_table" width='100%'>
				            <thead>
				              <tr>
				                <th></th>
				                <th ng-repeat="header in saved_reports_headers">{{ header }}</th>
				              </tr>
				            </thead>
				            <!--<tbody>
				              <tr ng-repeat="report in saved_reports">
				                <td></td>
				                <td ng-repeat="(key, val) in report">{{ val }}</td>
				              </tr>
				            </tbody>-->
				            <tfoot>
				              <tr>
				                <th></th>
				                <th ng-repeat="header in saved_reports_headers">{{ header }}</th>
				              </tr>
				            </tfoot>
				        </table>
				    	</div>
			        </div>
			      </div>
			    </div>
			</div>
		</div>
		<div class="col-md-12">
		    <div class="col-md-12" style="display:block;" id="active_rep_div">
		      <div class="sub_container">
		        <div class="jumbotron">
		        	<h3 class="sub-header">Active Report
		        		<button class="btn btn-sm btn-danger" style="float:right;" ng-click="deleteAllReports()"><i class="fa fa-trash-o" data-toggle="tooltip" data-placement="top" title="Clear active report"></i></button>
		        		<button class="btn btn-sm btn-danger" style="float:right;" ng-click="deleteFromReports()"><i class="fa fa-minus" data-toggle="tooltip" data-placement="top" title="Delete report"></i></button>
		        		<button class="btn btn-sm btn-default" style="float:right;" ng-click="showMergedTableModal()"><i class="fa fa-compress" data-toggle="tooltip" data-placement="top" title="Show current table to export"></i></button>
		        		<button class="btn btn-sm btn-info" style="float:right;" ng-click="showReportModal()"><i class="fa fa-floppy-o" data-toggle="tooltip" data-placement="top" title="Save active report"></i></button>
		        		<button id="phyloviz_button" class="btn btn-sm btn-warning" style="float:right;display:none;"><i class="fa" data-toggle="tooltip" data-placement="top" title="Send data to PHYLOViZ Online">Send to PHYLOViZ Online</i></button>
		        	</h3>
		        	<!--<div class="scroll_div">-->
		        	<ul class="nav nav-tabs">
					  <li ng-repeat="procedure in report_procedures" class="dropdown active" data-toggle="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ procedure }}</a>
					  	<span class="caret"></span></a>
					    <ul class="dropdown-menu">
					      <li ng-if="procedure == 'Metadata'" id="strains_metadata"><a href="#">Strain Metadata</a></li>
					      <li ng-if="procedure != 'Metadata'" id="run_info_{{procedure}}" ><a href="#">Run Information</a></li>
					      <li ng-if="procedure != 'Metadata'" id="results_info_{{procedure}}" ><a href="#">Results</a></li>
					    </ul>
					  </li>
					</ul>
					<br>
		        	<table class="display compact hover" id="reports_info_table" width='100%'>
			            <thead>
			              <tr>
			                <th></th>
			                <th ng-repeat="run_info_header in reports_info_table_headers">{{ run_info_header }}</th>
			                <th></th>
			              </tr>
			            </thead>
			            <!--<tbody>
			              <tr ng-repeat="run_info in run_infos">
			              	<td></td>
			                <td ng-repeat="results in run_info">{{ results[2][0] }}</td>
			              </tr>
			            </tbody>-->
			            <tfoot>
			              <tr>
			                <th></th>
			                <th ng-repeat="header in reports_info_table_headers">{{ header }}</th>
			                <th></th>
			              </tr>
			            </tfoot>
			        </table>
			        <table class="display compact hover" id="reports_results_table" width='100%'>
			            <thead>
			              <tr>
			              	<th></th>
			                <th ng-repeat="run_result_header in reports_info_table_headers">{{ run_result_header }}</th>
			                <th></th>
			              </tr>
			            </thead>
			            <!--<tbody>
			              <tr ng-repeat="run_result in run_results">
			              	<td></td>
			                <td ng-repeat="results in run_result">{{ results[2] }}</td>
			              </tr>
			            </tbody>-->
			            <tfoot>
			              <tr>
			                <th></th>
			                <th ng-repeat="header in reports_info_table_headers">{{ header }}</th>
			                <th></th>
			              </tr>
			            </tfoot>
			        </table>
			        <table class="display compact hover" id="reports_metadata_table" width='100%'>
			            <thead>
			              <tr>
			              	<th></th>
			                <th ng-repeat="run_result_header in reports_metadata_table_headers">{{ run_result_header }}</th>
			                <th></th>
			              </tr>
			            </thead>
			            <!--<tbody>
			              <tr ng-repeat="run_result in run_results">
			              	<td></td>
			                <td ng-repeat="results in run_result">{{ results[2] }}</td>
			              </tr>
			            </tbody>-->
			            <tfoot>
			              <tr>
			                <th></th>
			                <th ng-repeat="header in reports_metadata_table_headers">{{ header }}</th>
			                <th></th>
			              </tr>
			            </tfoot>
			        </table>
			    	<!--</div>-->
		        </div>
		      </div>
		    </div>
		    <!--<div class="col-md-6">
		      <div class="sub_container">
		        <div class="jumbotron">
		        	<h4 class="sub-header">Results
		        		<button class="btn btn-md btn-primary" style="float:right;" ng-click="showReportModal()"><i class="fa fa-arrow-circle-down">Save Report</i></button>
		        	</h4>
		        	<<div class="scroll_div">
		        	<ul class="nav nav-tabs">
					  <li ng-repeat="procedure in report_procedures" class="active"><a href="#">{{ procedure }}</a></li>
					</ul>
					<br>
		        	<table class="display compact hover" id="reports_results_table" width='100%'>
			            <thead>
			              <tr>
			              	<th></th>
			                <th ng-repeat="run_result_header in run_results_headers">{{ run_result_header }}</th>
			              </tr>
			            </thead>
			            <tbody>
			              <tr ng-repeat="run_result in run_results">
			              	<td></td>
			                <td ng-repeat="results in run_result">{{ results[2] }}</td>
			              </tr>
			            </tbody>
			            <tfoot>
			              <tr>
			                <th></th>
			                <th ng-repeat="header in run_results_headers">{{ header }}</th>
			              </tr>
			            </tfoot>
			        </table>
			    	</div>
		        </div>
		      </div>
		    </div>-->
		</div>
	</div>
	</div>


</div>