{% extends "base.html" %} <!--extends the base html-->

{% block stylesheets %} <!--modifies the stylesheets block-->
	<link href="/static/css/signin.css" rel="stylesheet">
{% endblock %}

{% block content %} <!--modifies the content block-->
	{% from "security/_macros.html" import render_field_with_errors, render_field %}
	{% include "_navbar.html" %}
	<div class="container">
		<form class="form-signin" action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
		  <h2 class="form-signin-heading">Register</h2>
		  {{ register_user_form.hidden_tag() }}
		  <label for="email" class="sr-only">Email address</label>
	      <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
	      <label for="password" class="sr-only">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
	      <label for="password_confirm" class="sr-only">Confirm Password</label>
	      <input type="password" id="password_confirm" name="password_confirm" class="form-control" placeholder="Confirm Password" required>
		  <button class="btn btn-lg btn-primary btn-block" id="submit" name="submit" type="submit">Submit</button>
		  {% include "security/_messages.html" %}
		</form>
	</div>

{% endblock %}