<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="row-offcanvas row-offcanvas-right">
      <div id="sidebarLeft" class="col-sm-3 col-md-2 sidebar sidebar-offcanvas" role="navigation">
        <div class="well sidebar-nav">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="" class="nav-a" id="overviewLink" ng-click="selectedTemplate.path = &#39;{{ url_for('static', filename='html_components/overview.html') }}&#39;">Overview</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="" class="nav-a" ng-click="selectedTemplate.path = &#39;{{ url_for('static', filename='html_components/projects_view.html') }}&#39;">Projects</a></li>
            <li><a class="nav-a" href="">Reports</a></li>
            <li></li>
            {% endif %}
          </ul>
        </div>

        {% if current_user.is_authenticated %}
        <div class="well sidebar-nav">
          <ul class="nav nav-sidebar">
            <li><a href="" class="nav-a" ng-click="selectedTemplate.path = &#39;{{ url_for('static', filename='html_components/protocols_view.html') }}&#39;">Protocols</a></li>
            <li><a href="" class="nav-a" ng-click="selectedTemplate.path = &#39;{{ url_for('static', filename='html_components/workflows_view.html') }}&#39;">Workflows</a></li>
            <li><a  class="nav-a" href="" ng-click="selectedTemplate.path = &#39;{{ url_for('static', filename='html_components/uploads_view.html') }}&#39;">Uploads</a></li>
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% include "security/_messages.html" %}
        <div data-ng-include="selectedTemplate.path" id="main_container"></div>          
      </div>
    </div>
  </div>
</div>

