
<div id="wrapper">
        <div class="overlay"></div>
    
        <!-- Navigation-->
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <a class="navbar-brand" href="#">INNUENDO Platform</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li id="overview_li" class="nav-item active" data-toggle="tooltip"
                    data-placement="right"
                    title="Overview">
                  <a  id="overviewLink" class="nav-link" href="" ng-click="selectedTemplate.path = &#39;{{ url_for('static', filename='html_components/overview.html') }}&#39;">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Overview</span>
                  </a>
                </li>
                {% if show_protocols %}
                <li id="protocols_button_li" class="nav-item" data-toggle="tooltip"
                    data-placement="right" title="Protocols">
                  <a class="nav-link" href=" ng-click="selectedTemplate.path = &#39;{{ url_for('static', filename='html_components/protocols_view.html') }}&#39;"">
                    <i class="fa fa-fw fa-area-chart"></i>
                    <span class="nav-link-text">Protocols</span>
                  </a>
                </li>
                <li id="workflows_button_li" class="nav-item" data-toggle="tooltip"
                    data-placement="right" title="Tables">
                  <a class="nav-link" href="" ng-click="selectedTemplate.path = &#39;{{ url_for('static', filename='html_components/workflows_view.html') }}&#39;">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Workflows</span>
                  </a>
                </li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li id="projects_button_li" class="nav-item" data-toggle="tooltip"
                    data-placement="right" title="Projects">
                  <a  id="projects_button" class="nav-link" href=""
                      ng-click="selectedTemplate.path = &#39;{{ url_for('static', filename='html_components/projects_view.html') }}&#39;">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Projects</span>
                  </a>
                </li>
                <li id="reports_button_li" class="nav-item" data-toggle="tooltip"
                    data-placement="right" title="Reports">
                  <a  id="reports_button" class="nav-link" href=""
                      ng-click="selectedTemplate.path = &#39;{{ url_for('static', filename='html_components/reports_view.html') }}&#39;">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Reports</span>
                  </a>
                </li>
                <li id="species_drop_button_li" class="nav-item" data-toggle="tooltip"
                    data-placement="right" title="Reports">
                  <a  id="reset_strain" class="nav-link" href="#">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Change Species</span>
                  </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right"
                    title="Tools">
                  <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-sitemap"></i>
                    <span class="nav-link-text">Tools</span>
                  </a>
                  <ul class="sidenav-second-level collapse" id="collapseMulti">
                    <li id="modify_strains_button_li">
                      <a id="modify_strains_button" href=""
                         ng-click="selectedTemplate.path = &#39;{{ url_for('static', filename='html_components/modify_strains_view.html') }}&#39;">Modify Strain Metadata</a>
                    </li>
                  </ul>
                </li>
                {% endif %}
              </ul>
              <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                  <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
          <div class="content-wrapper">
            <div class="container-fluid">
              <div id="container">
                <div ng-include src="'static/html_components/modals/new_mail_modal.html'"></div>
                <img src='static/img/spinner.gif' style="display:none; height:10%; width:auto" id="waiting_spinner" />
                {% include "security/_messages.html" %}
                <div data-ng-include="selectedTemplate.path" id="main_container"></div>
              </div>
            </div>
            <!-- /.container-fluid-->
            <!-- /.content-wrapper-->

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
              <i class="fa fa-angle-up"></i>
            </a>


            <script>
            $('#toggleNavPosition').click(function() {
              $('body').toggleClass('fixed-nav');
              $('nav').toggleClass('fixed-top static-top');
            });

            </script>
            <!-- Toggle between dark and light navbar-->
            <script>
            $('#toggleNavColor').click(function() {
              $('nav').toggleClass('navbar-dark navbar-light');
              $('nav').toggleClass('bg-dark bg-light');
              $('body').toggleClass('bg-dark bg-light');
            });

            </script>
          </div>

    </div>
    <!-- /#wrapper -->

