<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-user"></span> 
        <strong>{{ current_user.name }}</strong>
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <div class="navbar-login">
                <div class="row">
                    <div class="col-lg-4">
                        <p class="text-center">
                            <span class="glyphicon glyphicon-user icon-size"></span>
                        </p>
                    </div>
                    <div class="col-lg-8">
                        <p class="text-left small"><strong>{{ current_user.name }}</strong></p>
                        <p class="text-left small"><strong>{{ current_user.email }}</strong></p>
                        <p><a href="{{ url_for('security.change_password') }}">Change Password</a></p>
                        <p><a href="" id="send_mail">Send Email</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="divider"></li>
        <li>
            <div class="navbar-login navbar-login-session">
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            <a href="{{ url_for('logout') }}" class="btn btn-danger btn-block">Logout</a>
                        </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</li>