<html lang="en" ng-app="innuendoApp"> 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    {% if title %} <!--if statements in Jinja 2-->
	<title>{{ title }} - INNUENDO</title>
	{% else %}
	<title>Welcome to INNUENDO Platform</title>
	{% endif %}

    <link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap-select/dist/css/bootstrap-select.css') }}">
    <link href="{{ url_for('static', filename='bower_components/bootstrap-fileinput/css/fileinput.min.css') }}" media="all" rel="stylesheet" type="text/css" />
    <!--<link href="{{ url_for('static', filename='bower_components/datatables/media/css/jquery.dataTables.min.css') }}" media="all" rel="stylesheet" type="text/css" />-->
    <!--<link href="{{ url_for('static', filename='bower_components/datatables.net-responsive-dt/css/responsive.dataTables.css') }}" media="all" rel="stylesheet" type="text/css" />-->
    <link href="{{ url_for('static', filename='bower_components/datatables.net-colreorder-dt/css/colReorder.dataTables.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='bower_components/datatables.net-buttons-dt/css/buttons.dataTables.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='bower_components/datatables.net-select-dt/css/select.dataTables.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='bower_components/datatables.net-fixedcolumns-dt/css/fixedColumns.dataTables.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin.css') }}">
    <link href="{{ url_for('static', filename='css/screen_style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/additional_style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/test_new_css.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/navbar_style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/components-font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />
    {% block stylesheets %}{% endblock %} <!--Block that can be placed at this position and reused-->

</head>
<body>

    <div id="overlayProjects"></div>
      <div id="overlayWorking">
        <img src='static/img/spinner.gif' style="height:35%; width:auto" />
        <p style="margin-top: 10px;">Working...</p>
        <p id="submission_status" style="margin-top: 10px;"></p>
    </div>

	{% block content %}{% endblock %} <!--Block that can be placed at this position and reused-->

    <script>
        var current_user_id = {{ current_user_id|safe }}
        var current_user_name = {{ current_user_name|safe }}
        var homedir = {{ homedir|safe }}
        var jobs_root = {{ jobs_root|safe }}
        var REPORTS_URL = {{ reports_url|safe }}
        var SHOW_INFO_BUTTON = {{ show_info_button|safe }}
    </script>

    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/angular/angular.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/lodash/dist/lodash.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap-select/dist/js/bootstrap-select.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap-fileinput/js/fileinput.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <!--<script src="{{ url_for('static', filename='bower_components/datatables.net-responsive/js/dataTables.responsive.js') }}"></script>-->
    <script src="{{ url_for('static', filename='bower_components/datatables.net-colreorder/js/dataTables.colReorder.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/datatables.net-buttons/js/dataTables.buttons.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/datatables.net-buttons/js/buttons.colVis.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/datatables.net-select/js/dataTables.select.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/datatables.net-fixedcolumns/js/dataTables.fixedColumns.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/datatables.net-bs/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/html.sortable/dist/html.sortable.js') }}"></script>

    <script src="{{ url_for('static', filename='bower_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>

    <script src="{{ url_for('static', filename='controllers/sb-admin.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/main_controller.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/js_objects/objects_utils.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/js_objects/metadata.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/overview_controller.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/js_objects/projects_table.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/js_objects/single_project.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/js_objects/protocols.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/js_objects/reports.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/js_objects/workflows.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/js_objects/description.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/requests/requests.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/requests/ngs_onto_requests.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/projects_controller.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/single_project_controller.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/configure_analysis_controller.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/modify_strains_controller.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/downloads_controller.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/protocols_controller.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/workflows_controller.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/reports_controller.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/iframe_functions.js') }}"></script>
    <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="https://code.highcharts.com/modules/exporting.js"></script>


</body>
</html>