{% extends "base.html" %} <!--extends the base html-->
{% block stylesheets %} <!--modifies the stylesheets block-->
	<link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
{% endblock %}

{% block content %} <!--modifies the content block-->
	{% include "_navbar.html" %}
	{% include "_main.html" %}
	<!--
    <h1>Hi, {{ current_user.email }}!</h1>
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
    {% include "security/_menu.html" %}
-->
	<footer id="innuendofooter" class="footer-container" style="display:none;">
        <div class="footer-msg">
        I N N U E N D O <i class="fa fa-heartbeat" aria-hidden="true"></i>Platform 1.0.0<br><span style="font-size: 8px">Made with <i class="fa fa-coffee" aria-hidden="true"></i> by <a target="_blank" href="https://github.com/bfrgoncalves">Bruno Ribeiro-Gonçalves</a> and <a target="_blank" href="https://github.com/ODiogoSilva">Diogo N. Silva</a></span>
        </div>

    </footer>
{% endblock %}
